/* Typically in css you use naming conventions with dashes */
/* .some-class-name */
/* but since modules get used with javascript somewhere, they */
/* recommend using camelCase instead because the dashes don't work*/

@value colors: "../colors.css";
@value primary, secondary, green1, green2, green3, pinkish from colors;

.home {
  background-image: url('../assets/background-plants.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 95vh;
  width: 100%;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: primary;
  text-shadow: 1px 1px 3px secondary;

  background: radial-gradient(green3, green3, rgba(8, 75, 17, 0) 70%);

  padding: 2rem 2rem;
}

.mainTitle {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 48px;
}

p {
  letter-spacing: -0.01rem;
  font-weight: 700;
  font-size: small;
}

.titleContainer button {
  margin-top: 1rem;
}

@media only screen and (min-width: 480px) {
  .titleContainer {
    padding: 2rem 7rem;
  }
}

@media only screen and (min-width: 600px) {
  .titleContainer {
    padding: 2rem 8rem;
  }

  .mainTitle {
    font-size: 64px;
  }

  p {
    font-size: medium;
  }
}
