/* *************** */
/* Overall Item Page */
/* *************** */

.itemPage {
  display: flex;
  padding: 10px;
}

/* *************** */
/* Image Section */
/* *************** */

.itemPage .imgContainer {
  height: 500px;
}

.itemPage img {
  height: 100%;
}

/* *************** */
/* Info Section */
/* *************** */

.itemPage .infoContainer {
  flex: 1;

  display: flex;
  flex-direction: column;

  padding: 0 20px;
}

.itemPage .infoContainer div,
.itemPage h2 {
  padding: 5px 0;
}

.itemPage {
  line-height: 1.6rem;
}

.itemPage .description {
  margin-top: 2rem;
}
