/* *************** */
/* Overall Item Page */
/* *************** */

.itemPage {
  display: flex;
  padding: 10px;
}

/* *************** */
/* Image Section */
/* *************** */

.itemPage .imgContainer {
  height: 120px;
  display: flex;
}

.itemPage img {
  height: 100%;
}

/* *************** */
/* Info Section */
/* *************** */

.itemPage .infoContainer {
  flex: 1;

  display: flex;
  flex-direction: column;

  padding: 0;
}

.itemPage .infoContainer div,
.itemPage h2 {
  padding: 5px 0;
}

.itemPage {
  line-height: 1.2rem;
}

.itemPage .description {
  margin-top: 2rem;

  font-size: 10px;
}

/* @media only screen and (min-width: 480px) {
  .imgContainer {
    height: 200px;
  }
  .pageTitle {
    font-size: 60px;
    top: -2.5rem;
  }
}
*/
@media only screen and (min-width: 480px) {
  .itemPage .imgContainer {
    height: 320px;
  }
  .itemPage .description {
    font-size: 14px;
  }

  .itemPage .infoContainer {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding: 0 20px;
  }
}
@media only screen and (min-width: 750px) {
  .itemPage .imgContainer {
    height: 320px;
  }

  .itemPage .imgAndInfo {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 800px) {
  .itemPage .description {
    font-size: 16px;
  }
  .itemPage {
    line-height: 1.6rem;
  }
}
@media only screen and (min-width: 1000px) {
  .itemPage .imgContainer {
    height: 500px;
  }
}
/* @media only screen and (min-width: 1280px) {
  .imgContainer {
    height: 960px;
  }
}
@media only screen and (min-width: 1920px) {
  .imgContainer {
    height: 1280px;
  }
} */
