/* Typically in css you use naming conventions with dashes */
/* .some-class-name */
/* but since modules get used with javascript somewhere, they */
/* recommend using camelCase instead because the dashes don't work*/

@value colors: "../colors.css";
@value primary, secondary, green1, green2, green3, pinkish from colors;

/* ------------------ */
/* Overall Shop */
/* ------------------ */

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.pageTitle {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  /* font-family: 'Fredericka the Great', cursive; */
  font-weight: 700;

  position: absolute;
  top: 0;
}

.itemsAndCartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-start; */
  border: 1px solid pink;
  width: 100%;
}

.itemsAndTitle {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 1px solid red; */
  position: relative;
  border: 1px solid green;
  width: 100%;
}

/* ------------------ */
/* Shop Items */
/* ------------------ */

.shopItems {
  display: flex;
  flex-wrap: wrap;

  /* width: 320px; */
  width: 70px;
  color: primary;

  margin-top: 45px;
  background-color: blue;
}

@media only screen and (min-width: 480px) {
  .shopItems {
    width: 200px;
  }
  .pageTitle {
    font-size: 60px;
    top: -2.5rem;
  }
}

@media only screen and (min-width: 640px) {
  .shopItems {
    width: 320px;
  }
}
@media only screen and (min-width: 960px) {
  .shopItems {
    width: 640px;
  }
}
@media only screen and (min-width: 1280px) {
  .shopItems {
    width: 960px;
  }
}
@media only screen and (min-width: 1920px) {
  .shopItems {
    width: 1280px;
  }
}

.shopItemsNoneInCart {
  display: flex;
  flex-wrap: wrap;

  width: 70px;
  /* Note: can't change shopItems padding because of css module scope */
  /*       so to fix tiny looking scale here, 
           should use 2 different components with separate css files. 
           not just use different classNames */
  color: primary;

  margin-top: 45px;
  background-color: blue;
}

@media only screen and (min-width: 320px) {
  .shopItemsNoneInCart {
    width: 70px;
  }
}
@media only screen and (min-width: 480px) {
  .shopItemsNoneInCart {
    width: 200px;
  }
}
@media only screen and (min-width: 640px) {
  .shopItemsNoneInCart {
    width: 640px;
  }
}
@media only screen and (min-width: 960px) {
  .shopItemsNoneInCart {
    width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .shopItemsNoneInCart {
    width: 1280px;
  }
}

/* ------------------ */
/* Cart Items */
/* ------------------ */

.shoppingCartIconBar {
  color: primary;

  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.shoppingCartIcon {
  padding: 3px;
}

.iconContainer {
  position: relative;
}

#numberInCart {
  position: absolute;
  bottom: -1rem;
  left: -0.5rem;

  width: 2rem;
  height: 2rem;

  border-radius: 50%;
  background-color: pinkish;
  color: primary;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: large;
  font-weight: 700;
  text-shadow: 0px 0px 3px secondary;
}
