@value colors: "../colors.css";
@value primary, secondary, green1, green2, green3, pinkish from colors;

.btn {
  background-color: transparent;
  border: 1px solid primary;

  border-radius: 5px;
  padding: 0px 7px;
}
