/* Typically in css you use naming conventions with dashes */
/* .some-class-name */
/* but since modules get used with javascript somewhere, they */
/* recommend using camelCase instead because the dashes don't work*/

@value colors: "../colors.css";
@value primary, secondary, green1, green2, green3, pinkish from colors;

.shopItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70px;
  margin: 0 0 15px 0;
  padding: 10px;
  border-radius: 10px;
  color: primary;
}

.shopItemContainer img {
  width: 100%;
  padding: 4px;
  background-color: primary;
}

.shopItemContainer {
  font-size: small;
}

.shopItemContainer button {
  font-size: xx-small;
  padding: 3px 5px;
}

@media only screen and (min-width: 320px) {
  .shopItemContainer {
    min-width: 70px;
    margin: 0 0 15px 0;
  }
}

@media only screen and (min-width: 480px) {
  .shopItemContainer {
    min-width: 200px;
    margin: 0 0 15px 0;
  }

  .shopItemContainer {
    font-size: x-large;
  }

  .shopItemContainer button {
    font-size: 16px;
    padding: 4px 11px;
  }
}

@media only screen and (min-width: 640px) {
  .shopItemContainer {
    min-width: 300px;
    margin: 0 10px 15px 10px;
  }
}
