@value colors: "../colors.css";
@value primary, secondary, green1, green2, green3, pinkish from colors;

/* *************************** */
/* Overall sideCart styles */
/* *************************** */

.sideCart {
  min-width: 200px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 320px) {
  .sideCart {
    min-width: 200px;
  }
}

@media only screen and (min-width: 640px) {
  .sideCart {
    min-width: 250px;
  }
}

/* *************************** */
/* Other sideCart styles */
/* *************************** */

.sideCart h2 {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;

  margin-bottom: 1rem;
}

.sideCartItemContainer {
  width: 100%;
}

.sideCartItem img {
  width: 50px;
  margin: 0 10px;
}

.sideCartItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.sideCartSectionA {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
}

.sideCartSectionA_A {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sideCartSectionB {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.sideCartSectionB_qtyContainer {
  display: flex;
  width: 100px;
  justify-content: space-between;

  height: 2rem;
}

.sideCartSectionB input {
  width: 50px;
  display: block;
}

.sideCart input {
  background-color: transparent;
  text-align: center;
  border: 1px solid green3;
  padding: 0px 7px;
  height: 100%;
}

.sideCart .subTotalContainer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sideCart .subTotal {
  margin-left: 1.6rem;
}

.sideCart .shopItemPrice,
.subTotalPrice {
  padding-right: 5px;
}
