@value colors: "./colors.css";
@value primary, secondary, green1, green2, green3 from colors;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap');

.App {
  text-align: center;
}

body {
  background-color: secondary;
  /* font-family: 'Fredericka the Great', cursive; */
  /* font-family: 'Noto Sans', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
