@value colors: "./colors.css";
@value primary, secondary, green1, green2, green3 from colors;

.headerLogo {
  font-size: x-large;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;

  color: secondary;
  background-color: primary;
}

.navLinks {
  /* width: 200px; */
  display: flex;

  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: green2;
}

li {
  /* background-color: red; */
  border: 1px solid secondary;
  border-radius: 4px;

  padding: 4px 8px;
  margin-right: 10px;
}

li:hover {
  border-color: green2;
}

a:active {
  color: green1;
}
li:active {
  border-color: green1;
}
