@value colors: "./colors.css";
@value primary, secondary, green1, green2, green3 from colors;

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;

  color: secondary;
  background-color: primary;
}

.navLinks {
  width: 40%;
  display: flex;

  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: green2;
  text-shadow: 1px 1px 3px pinkish;
}
